*			text=auto
*.c		text eol=lf
*.cpp		text eol=lf
*.h		text eol=lf
*.hpp		text eol=lf
*.json		text eol=lf
*.sh		text eol=lf
*.csv		text eol=lf
*.cfg		text eol=lf
*.rules		text eol=lf
*.mk		text eol=lf
*.md		text eol=lf
Makefile	text eol=lf
*.html		text eol=lf
*.js		text eol=lf
*.svg		text eol=lf
*.css		text eol=lf
*.tex		text eol=lf
*.sty		text eol=lf
*.eps		text eol=lf
*.bat		text eol=crlf
.gitattributes	text eol=lf
.gitignore	text eol=lf
*.jpg		-text
*.png		-text
*.so		-text
*.a			-text
*.mp4		-text
*.model		-text
